<div class="container">
  <div class="row">
    <div class="col-xl-9 mx-auto">
      <h1 class="mb-5">
        Explore the places of interest near you or anywhere in the world!
      </h1>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
      <form (submit)="onFormSubmit($event)">
        <div class="form-row">
          <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input
              (input)="onInputChange($event)"
              type="text"
              class="form-control form-control-lg shadow p-3 mb-5 bg-white rounded"
              placeholder="Enter a location"
            />
          </div>
          <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary">
              Go!
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
